[submodule "open2bizz/odoo-addons"]
	path = open2bizz/odoo-addons
	url = git@github.com:open2bizz/odoo-addons.git
	branch = 10.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 10.0

[submodule "OCA/product-pack"]
	path = OCA/product-pack
	url = git@github.com:OCA/product-pack.git
	branch = 12.0
